@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-burdeos: #580a1e;
  --color-gris: #5a5856;
  --color-dorado: #caa24c;
  --color-marfil: #f4f1ec;
  --color-oro: #d4af37;
}
