@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

/*Aquí usamos los colores de marca como paleta completa en variables de Tailwind*/
@theme {
  --color-*: initial;
  --color-burgundy: #580a1e;
  --color-gray: #5a5856;
  --color-golden: #caa24c;
  --color-ivory: #f4f1ec;
  --color-gold: #d4af37;
  --color-black: #1c1c1c;
  --spacing-card-size: 25rem;
  --spacing-card-half-size: 12.5rem;
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(1turn);
  }
}

/* 3. Definiciones de Pseudoelementos (Aplicamos la animación directamente) */
.loader-ring-root::before,
.loader-ring-root::after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: spinner-rotate 2s infinite;
}

/* Aro Intermedio (::before) - Aplicamos su propia duración y función */
.loader-ring-root::before {
  border-right-color: var(--color-gold);
  margin: 3%;
}

/* Aro Interior (::after) - Aplicamos su propia duración y función */
.loader-ring-root::after {
  border-right-color: var(--color-black);
  margin: 11%;

  /* ✨ SOLUCIÓN: Definimos la animación específica aquí ✨ */
  animation-duration: 3s;
}
